DEBUG=True
SECRET_KEY=CAOU8N&Qew2%OnWVnb%#jZ&eNvsVXJj*kmxL3s&4n91^cjVRtvArMd6bDWJ!fBPN
ALLOWED_HOSTS=localhost,"127.0.0.1"
MEDIA_ROOT=media
STATIC_ROOT=static
LIVE=False #Whether this site is live or not
RAZORPAY_TEST=True
RAZORPAY_KEY=rzp_live_xxxxxxxxxx
RAZORPAY_SECRET=abcdefjagexxxxxxxx
RAZORPAY_TEST_KEY=rzp_test_xxxxxxxxx
RAZORPAY_TEST_SECRET=abcdefjagexxxxxxxx
ADMINS="Admin" <admin@mysite.com>,"Another Admin" <dbadmin@mysite.com>
MANAGERS="CMS Manager" <cms@mysite.com>,"Marketing Head" <marketing@mysite.com>
LOGGING={ "shop": "WARNING", "django.db.backends": "ERROR" } #Set levels for each of the logging modules
SYSTEM_EMAIL_ADDRESS=system@mysite.com
EMAIL_SUBJECT_PREFIX=[MySite System]
LOG_FILE=logs/all.log #Note the directory must be created
LOG_LEVEL=DEBUG
EMAIL_HOST_USER=myemailuser
EMAIL_HOST_PASSWORD=xxxxxxxxx
