{% load z69filters %}
<div class="d-flex input-link justify-content-between align-items-center"
    data-type="{{ widget.attrs.type }}" data-get-code-uri="{{ widget.attrs.getcode }}">
    <input type="{% if widget.attrs.type == 'phone' %}tel{% elif widget.attrs.type == 'email' %}email{% else %}text{% endif %}" id="id_{{ widget.name }}" value="" placeholder="{{ widget.attrs.placeholder }}"
        name="{{ widget.name }}">
    <button type="button" class="btn btn-success get-link align-self-start">get otp</button>
</div>
<!--
<script>
  const jsonForm = JSON.parse({{ form | stringformat:"s" | safe }});
  console.log(jsonForm);
</script>
<div class="d-flex form-control input-link justify-content-between align-items-center"
    data-type="{{ widget.attrs.type }}" data-get-code-uri="{{ widget.attrs.getcode }}" contenteditable="true">
    <input type="hidden" id="id_{{ widget.name }}" value="" name="{{ widget.name }}">
    <span contenteditable="true" class="control align-self-start flex-grow-1" id="span_{{ widget.name }}">
        <span class="zplaceholder unselectable">{{ widget.attrs.placeholder }}</span>
    </span>
    <span class="get-link align-self-end unselectable">Get Code</span>
</div>
-->
