{% load currency_filters %}
{% load i18n %}
{% load basket_tags %}
{% load purchase_info_tags %}
{% load static %}
{% load site_urls %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <p class="price_color">{% trans "Free" %}</p>
    {% elif session.price.is_tax_known %}
         <div class="clearfix product-price-cover">
            <div class="product-price primary-color float-left">
                <ins><span class="text-brand">{{ session.price.excl_tax|currency:session.price.currency }}</span></ins>
                <span>[Member Only Price]</span><span class="original_price font-md ml-15">Original Price : ₹ 
                {% if product.mrp %}
                    {{ product.mrp }}
                {% else %}
                    {{ product.stockrecords.first.price }}
                {% endif %}
                </span>
                <div class="super_line">
                <span><img src="{% static 'img/icons/icon-luckyspin.svg' %}" alt="" class="icon_special">Luckydraw</span>
                <span><img src="{% static 'img/icons/icon-superlink.svg' %}" alt="" class="icon_special">Referral Cash</span>
                <span><img src="{% static 'img/icons/group_buy.svg' %}" alt="" class="icon_special">Group Buy</span>
                </div>
            </div>
        </div>
    {% else %}
        <p class="price_color">{{ session.price.excl_tax|currency:session.price.currency }}</p>
    {% endif %}
{% else %}
    <p class="price_color">&nbsp;</p>
{% endif %}
{% if session.price.exists %}
<p class="{{ session.availability.code }} availability">
     <div class="coupon-carousel">
        <div class="carousel-controls">
            <button class="control-btn prev-btn">&#10094;</button>
            <button class="control-btn next-btn">&#10095;</button>
        </div>

        <div class="coupon-slides">
            <div class="coupon-slide">
                <div class="coupon coupon-1">
                    <div class="coupon-header">₹ 0 for FIRST1000!</div>
                    <div class="coupon-body">
                        <p>Follow our socials &amp; get a free tee. Only for the first 1000</p>
                    </div>
                    <div class="coupon-footer">
                        <div class="coupon-code">FIRST1000</div>
                        <div class="status">
                            <span>Active</span>
                        </div>
                    </div>
                </div>

                <div class="coupon coupon-2">
                    <div class="coupon-header">FREE SHIPPING</div>
                    <div class="coupon-body">
                        <p>Free shipping on all orders</p>
                        <p>Valid until August 15th, 2025</p>
                    </div>
                    <div class="coupon-footer">
                        <div class="coupon-code">FREESHIP</div>
                        <div class="status">
                            <span>Active</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="coupon-slide">
              <div class="coupon coupon-1">
                    <div class="coupon-header">Share &amp; Ea₹n</div>
                    <div class="coupon-body">
                        <p>Join as a member &amp; start earning with our share &amp; earn program.</p>
                    </div>
                    <div class="coupon-footer">
                        <div class="coupon-code">Notify Me</div>
                        <div class="status">
                            <span>Active Soon</span>
                        </div>
                    </div>
                </div>

                <div class="coupon coupon-2">
                    <div class="coupon-header">69M Buyer Club</div>
                    <div class="coupon-body">
                        <p>Join as a founding member now &amp; get lifelong offers.</p>
                    </div>
                    <div class="coupon-footer">
                        <div class="coupon-code"><a href="account_login">Join</a></div>
                        <div class="status">
                            <span>Active</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product_sort_info font-xs mb-30">
        <ul>
            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> Free shipping for members </li>
            <li class="mb-10"><i class="fi-rs-time-forward mr-5"></i> Fast delivery </li>
            <li><i class="fi-rs-refresh mr-5"></i> Easy returns</li>
        </ul>
    </div>
    {% if session.availability.is_available_to_buy %}
       <div class="attr-detail attr-color mb-15">
        {% for av in product.get_attribute_values %}
            <tr>
                <th>{{ av.attribute.name }}</th>
                <td>{{ av.value_as_html }}</td>
            </tr>
        {% endfor %}
        </div>

                    <div class="attr-detail attr-color mb-15">
                    <strong class="mr-10">Color</strong>
                    <ul class="list-filter color-filter">
                      <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                      <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                      <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                      <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                      <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                      <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                      <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                    </ul>
                  </div>

                <div class="attr-detail attr-size">
                    <strong class="mr-10">Size</strong>
                    <ul class="list-filter size-filter font-small">
                        <li><a href="#">XS</a></li>
                      <li><a href="#">S</a></li>
                      <li class="active"><a href="#">M</a></li>
                      <li><a href="#">L</a></li>
                      <li><a href="#">XL</a></li>
                      <li><a href="#">XXL</a></li>
                    </ul>
                  </div>
        <!--
            <strong class="mr-10">Color</strong>
            <ul class="list-filter color-filter">
                <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                <li class="active"><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                <li class=""><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
            </ul>
        </div>
        <div class="attr-detail attr-size">
            <strong class="mr-10">Size</strong>
            <ul class="list-filter size-filter font-small">
                <li><a href="#">S</a></li>
                <li class="active"><a href="#">M</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">XL</a></li>
                <li><a href="#">XXL</a></li>
            </ul>
        </div>
        -->
        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
        {% basket_form request product quantity_type="multiple" as basket_form %}

        <div class="detail-extralink">
            <!--
            <div class="detail-qty border radius">
                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                <span class="qty-val">1</span>
                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
            </div>
            -->
            <div class="product-extra-link2 d-flex flex-column">
                <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post" class="add-to-basket mb-0">
                {% csrf_token %}
                {% include "oscar/partials/form_fields.html" with form=basket_form style="horizontal" %}
                <!-- <div style="display: flex; justify-conent: space-between; width: 100%;"> -->
                <div class="d-flex flex-row justify-content-start">
                    <button type="submit" class="button button-add-to-cart" value="{% trans "Add to basket" %}" data-loading-text="{% trans 'Adding...' %}">{% trans "Add to basket" %}</button>
                    <!--button type="submit" class="button button-add-to-cart">Add to cart</button-->
                    </form>
                    <form id="buy_quick_form" action="{% url 'buy-quick' %}" method="post">
                        {% csrf_token %}
                        {{ buyquick_form }}
                     <button type="submit" class="button button-buy-quick">Buy Quick</button>
                    <!--a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a-->
                    </form>
                    <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" class="add-to-wishlist align-bottom">
                    {% csrf_token %}
                    <button type="submit" class="add-wishlist-btn"  data-loading-text="{% trans 'Adding...' %}"><i class="fi-rs-heart"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="detail-extralink">
            <div class="product-extra-link2">
                <button type="Personalisation" class="button button-custom" data-bs-toggle="tooltip" title="Coming Soon">Add Personalisation</button>
                <button type="video" class="button button-custom" data-bs-toggle="tooltip" title="Coming Soon">Video Call Shop</button>
                <button type="live" class="button button-custom" data-bs-toggle="tooltip" title="Coming Soon">Join Live Sales</button>  
            </div>
        </div>
    <div class="pincode_box">
        <label for="pincode">Estimated Delivery Date</label>
        <input type="text" id="pincode" placeholder="Enter pincode">
        <button type="button" onclick="estimateDelivery()">Check</button>
        <span id="delivery-date"></span>
    </div>

<ul class="product-meta font-xs color-grey mt-50">
    <li class="mb-5">Group Order:  <a href="https://wa.me/{{ settings.WHATSAPP_NUMBER}}">Quote now</a></li>
    <li class="mb-5">Product Code: {{ product.upc }}</li>
</ul>

    {% else %}
        <i class="fas fa-ban"></i>
    {% endif %}

    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p>
{% else %}
    <i class="fas fa-ban"></i>
    {% trans 'Unavailable' %}
{% endif %}

<script>
function estimateDelivery() {
    if (document.getElementById("pincode").value == '') {
        alert("Please enter a Pincode");
        return;
    }
    const dt = new Date();    
    dt.setDate(dt.getDate() + 10);
    document.getElementById("delivery-date").innerHTML = "Estimated delivery date: " + dt.toDateString();
}
</script>
