{% extends "oscar/layout.html" %}
{% load i18n %}
{% load category_tags %}
{% load static %}

{% block page_header %}
{% comment %}
    <nav class="navbar" aria-label="Primary Navigation">
        <div class="logo">
            <img src="{% static 'img/zite69_shop.png' %}" alt="ZITE69 logo">
        </div>
        <div class="nav-links">
            <a href="/" aria-label="Shop Home">zite69 Shop</a>
            <a href="/" aria-label=""></a>
            <a href="https://wa.me/{{ settings.WHATSAPP_NUMBER }}" aria-label="Help">Help</a>
        </div>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <form action="{% url 'account_logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-login" type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'otp:request' %}" class="btn btn-login" aria-label="Login Button">Login</a>
            {% endif %}
        </div>
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
    </nav>

    <!-- Mobile Menu -->
    <div class="mobile-menu" id="mobileMenu">
        <a href="/" aria-label="Join">zite69 Shop</a>
        <a href="/" aria-label="">Shop</a>
        <a href="https://wa.me/{{ settings.WHATSAPP_NUMBER }}" aria-label="Help">Help</a>
        {% if user.is_authenticated %}
                <form action="{% url 'account_logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-login" type="submit">Logout</button>
                </form>
        {% else %}
            <a class="btn btn-login" href="{% url 'otp:request' %}" aria-label="Login Button">Login</a>
        {% endif %}
    </div>
{% endcomment %}
{% endblock %}

{% block layout %}

{% comment  %}
    <header class="header container">
        <div class="page_inner">
            <div class="row">
                {% include "oscar/partials/brand.html" %}
            </div><!-- /row -->
        </div>
        {% block checkout_nav %}{% endblock %}
    </header><!-- /header -->

    <div class="container page">
       <div class="page_inner">
            {% include 'oscar/partials/alert_messages.html' %}

            <div class="sub-header">
                <h1>{% block checkout_title %}{% endblock %}</h1>
            </div>

            <!-- The main nav on checkout pages contain links to modal flatpages -->
            {% block modal %}
                {% load flatpages %}
                {% get_flatpages '/order/' as flatpages %}
                {% for page in flatpages %}
                <div id="{{ page.title|slugify }}" class="modal hide fade">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>{{ page.title }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="large-content">
                            {{ page.content|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}

        </div><!-- /page_inner -->
    </div>
{% endcomment %}
    {{ block.super }}
    {% include "oscar/partials/footer_checkout.html" %}
{% endblock %}
