{% extends "oscar/checkout/checkout.html" %}
{% load sekizai_tags %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <style>
        .product-table {
            max-width: 100%;
            overflow-x: auto;

            th, td {
                text-align: center !important;
            } 
        }
   </style>
{% endblock %}


{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}
<table class="table table-bordered product-table">
    <thead>
        <tr>
            <th class="col-lg-5 col-md-6 col-sm-7">Product Name</th>
            <th class="col-lg-1 col-md-1 col-sm-2">Quantity</th>
            <th class="col-lg-6 col-md-5 col-sm-5">Image</th>
        </tr>
    </thead>
    <tbody>
    {% for line in basket.lines.all %}
    <tr>
        <td class="line-product">{{ line.product }}</td>
        <td class="line-quantity">{{ line.quantity }}</td>
        <td class="line-image">
            <img style="width: 120px; height: auto;" src="{{ line.product.primary_image.original.url }}"></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p class="mt-2">Loading, please wait...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
        <div class="d-flex flex-column">
            <div>Order Total: ₹{{ order_total.incl_tax }}</div>
            <button class="btn btn-primary" id="rzp-button1">Proceed to Payment</button>
        </div>
    </div>
    {{ options|json_script:"razorpay-options" }}
    <script>
        const opts = JSON.parse(document.getElementById('razorpay-options').textContent);
        console.log(opts);
        opts.modal = {
            ondismiss: function () {
                window.location.href = "{% url 'checkout:payment-details' %}";
            }
        }
        const options = {
            'key': "{{ options.key }}",
            'amount': "{{ options.amount }}",
            'currency': "{{ options.currency }}",
            'name': "{{ options.name }}",
            'description': "{{ options.description }}",
            'image': "{{ options.image }}",
            'order_id': "{{ options.order_id }}",
            'callback_url': "{{ options.callback_url }}",
            'prefill': {
                'name': "{{ options.customer_name}}",
                'email': "{{ options.customer_email }}",
                'contact': "{{ options.customer_phone }}"
            },
            'theme': {
                'color': '#f66569'
            }
        };
        const rzrpay = new Razorpay(opts);
        document.getElementById('rzp-button1').onclick = function (e) {
            const modal = document.getElementById("loadingModal");
            const modalInstance = new bootstrap.Modal(modal);
            modalInstance.show();
            rzrpay.open();
            e.preventDefault();
        }
    </script>
    {% endblock payment_details_content %}
{% endblock payment_details %}
