{% extends "oscar/checkout/checkout.html" %}
{% load sekizai_tags %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}
<div>Order Total: ₹{{ order_total.incl_tax }}</div>
{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
    <button id="rzp-button1">Pay with Razorpay</button>
    <script>
        const options = {
            'key': "{{ options.key }}",
            'amount': "{{ options.amount }}",
            'currency': "{{ options.currency }}",
            'name': "{{ options.name }}",
            'description': "{{ options.description }}",
            'image': "{{ options.image }}",
            'order_id': "{{ options.order_id }}",
            'callback_url': "{{ options.callback_url }}",
            'prefill': {
                'name': "{{ options.customer_name}}",
                'email': "{{ options.customer_email }}",
                'contact': "{{ options.customer_phone }}"
            },
            'theme': {
                'color': '#f66569'
            }
        };
        const rzrpay = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function (e) {
            rzrpay.open();
            e.preventDefault();
        }
    </script>
    {% endblock payment_details_content %}
{% endblock payment_details %}
