{% extends "oscar/checkout/checkout.html" %}
{% load sekizai_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load image_tags %}
{% load currency_filters %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<style>
    .product-table {
        max-width: 100%;
        overflow-x: auto;

        th, td {
            text-align: center !important;
        } 
    }

    #instructions {
        font-size: 14px;
    }

    #instructions p {
        font-size: 14px;
    }
</style>
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}
<div class="basket-title d-none d-md-block">
    <div class="row">
        <h5 class="col-md-6">Product Name</h5>
        <h5 class="col-md-3">{% trans "Quantity" %}</h5>
    </div>
</div>
 
    {% for line in basket.lines.all %}
    <div class="basket-items">
        <div class="row">
            <div class="col-md-2">
                {% with image=line.product.primary_image %}
                    {% oscar_thumbnail line.product.primary_image.original "100x100" upscale=False as thumb %}
                    <a href="{{ line.product.get_absolute_url }}">
                        <img class="img-thumbnail w-auto mx-auto my-0" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"/>
                    </a>
                {% endwith %}
            </div>

            {% purchase_info_for_line request line as session %}
            <div class="col-md-4">
                <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
            </div>
            <div class="col-md-2">
                <p>{{ line.quantity }}</p>
            </div>
            <!--
            <div class="col-md-1">
                {% if not line.unit_price_incl_tax and not line.unit_tax_excl_tax %}
                    <p class="text-right">&mdash;</p>
                {% else %}
                    <p class="price_color text-right">
                        <span class="price-title d-md-none">{% trans "Price" %}:</span>
                        {% if line.is_tax_known %}
                            {{ line.unit_price_incl_tax|currency:line.price_currency }}
                        {% else %}
                            {{ line.unit_price_excl_tax|currency:line.price_currency }}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
            -->
            <!--
            <div class="col-md-2">

                {% if not line.line_price_incl_tax and not line_price_excl_tax %}
                    <p class="text-right">&mdash;</p>
                {% else %}
                    <p class="price_color text-right">
                        <span class="price-title d-md-none">{% trans "Total" %}:</span>
                        {% if line.is_tax_known %}
                            {{ line.line_price_incl_tax|currency:line.price_currency }}
                        {% else %}
                            {{ line.line_price_excl_tax|currency:line.price_currency }}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
            -->
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p class="mt-2">Loading, please wait...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
        <div class="d-flex flex-column">
            <div>Order Total: ₹{{ order_total.incl_tax }}</div>
            <button class="btn btn-primary" id="rzp-button1">Proceed to Payment</button>
            <div id="instructions">
                We are currently in Test Payment mode. Please use the following Test Credit Card details to complete payment.
                <p>Credit Card Number: 4386 2894 0766 0153</p>
                <p>Expiry Date: Any future month/year</p>
                <p>CVV: Any random 3 digit number</p>
                <p>In the final step of the payment checkout when it asks you for an OTP, please 
                    enter any random 3-6 digit number
                </p>
            </div>
        </div>
    </div>
    {{ options|json_script:"razorpay-options" }}
    <script>
        const opts = JSON.parse(document.getElementById('razorpay-options').textContent);
        opts.modal = {
            ondismiss: function () {
                window.location.href = "{% url 'checkout:payment-details' %}";
            }
        }
        console.log(opts);
        /*
        const options = {
            'key': "{{ opts.key }}",
            'amount': "{{ opts.amount }}",
            'currency': "{{ opts.currency }}",
            'name': "{{ opts.name }}",
            'description': "{{ opts.description }}",
            'image': "{{ opts.image }}",
            'order_id': "{{ opts.order_id }}",
            'callback_url': "{{ opts.callback_url }}",
            'prefill': {
                'name': "{{ opts.customer_name}}",
                'email': "{{ opts.customer_email }}",
                'contact': "{{ opts.customer_phone }}"
            },
            'theme': {
                'color': '#f66569'
            }
        };
        console.log(options);
        */
        const rzrpay = new Razorpay(opts);
        document.getElementById('rzp-button1').onclick = function (e) {
            const modal = document.getElementById("loadingModal");
            const modalInstance = new bootstrap.Modal(modal);
            modalInstance.show();
            rzrpay.open();
            console.log("after rzrpay.open call");
            console.log(rzrpay);
            e.preventDefault();
        }
    </script>
    {% endblock payment_details_content %}
{% endblock payment_details %}
