/* div.brand-title small {
    font-size: 15px;
}
*/

.single-hero-slider .row {
    margin-left: -250px;
}

.font-urbanist {
    font-family: $font-text;
}

.zite69-cms-toolbar {
    float: left;
    margin-inline-end: 0 !important;
}
