{% load i18n %}
{% load static %}
{% load cms_tags sekizai_tags %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}" class="{% block html_class %}no-js{% endblock %}">
<head>
    <title>{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="created" content="{% now "jS M Y h:i" %}" />
    <meta name="description" content="{% block description %}ZITE69 is a rising social marketplace with a super social income sharing model. 
    Fashion | Beauty | Food | Wellness | Gifts | Arts | Crafts |  Games |  Life Goods | Digital Goods; all good stuff you needed  in your  life &amp; life changing new stuff you didn’t know you needed!
    {% endblock %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />

    {{ settings.PLAUSIBLE_TAG | safe }}

    {% block favicon %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon/favicon.png' %}">
        <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon/favicon.svg' %}" />
        <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}" />
        <meta name="apple-mobile-web-app-title" content="zite69 social commerce site" />
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}" />
    {% endblock %}

    {# Block where global CSS will go. #}
    {% block styles %}{% endblock %}

    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}{% endblock %}
    
    {% block head %}{% endblock %}

    {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}

    {% block extrahead %}{% endblock %}

    {% block tracking %}
        {# Default to using Google analytics #}
        {% include "oscar/partials/google_analytics.html" %}
    {% endblock %}
    {% include "includes/revision-style.html" %}
</head>

<body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
    {% cms_toolbar %}
    {% block header %}
    <header>
        <div class="header-container">
          <div class="logo">
              <a href="/"><img src="{% static 'img/zite69_shop.png' %}" class="logo-circle" alt="zite69"></a>
          </div>
            <div class="login-form">
                {% if user.is_authenticated %}
                    <form action="{% url 'account_logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-login" type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'otp:request' %}" class="btn btn-login">Login</a>
                {% endif %}
            </div>
        </div>
    </header>

    <nav>
        <div class="nav-container">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="nav-links">
                <a href="/" class="active">Home</a>
                <a href="https://seller.zite69.com/en/sellerschool/">Seller School</a>
                <a href="https://szine.zite69.com/">Success Stories</a>
                <a href="https://wa.me/{{ settings.WHATSAPP_NUMBER }}">Support</a>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block messages %}
        {% if messages %}
            <ul class="text-center messages">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock %}


    {# Main content goes in this 'layout' block #}
    {% block layout %}
        {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="footer-links">
            <a href="https://seller.zite69.com/en/registration/" target="_blank">Sell on Z69</a> |
            <a href="https://www.zite69.com/careers/" target="_blank">Work with Us</a> |
            <a href="https://seller.zite69.com/mentor/" target="_blank">Join as Mentor</a> |
            <a href="https://szine.zite69.com/" target="_blank">Visit S/Z Blog</a> |
            <a href="https://www.zite69.com/demo/index.html" target="_blank">View Concept</a> |
            <a href="https://wa.me/{{ settings.WHATSAPP_NUMBER }}" target="_blank">Quick Connect</a>
        </div>
    </footer>
    {% endblock %}
    {% include "includes/revision-tag.html" %}

    {# Scripts loaded from a CDN. #}
    {% block cdn_scripts %}
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script>
    {% endblock %}

    {# Local scripts #}
    {% block scripts %}
    {% endblock %}

    {# Additional JS scripts #}
    {% block extrascripts %}{% endblock %}

    {# Block for body onload functions #}
    <script>
        $(function() {
            {% block onbodyload %}{% endblock %}
        });
    </script>
    {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
    {# Page meta-data - this is populated by the 'metadata' template context processor #}
</body>
</html>
