{% extends 'oscar/layout.html' %}


{% block head %}
{{ block.super }}
<script src='https://8x8.vc/vpaas-magic-cookie-8b30f5def46043c294ecc5dda68a8c93/external_api.js'></script>
{% endblock %}

{% block content %}
<h1>Video Buy/Seller Demo</h1>
<div id="meet">
&nbsp;
</div>
{% endblock %}

{% block extrascripts %}
<script>
    const domain = '8x8.vc';
    const options = {
        roomName: 'Zite69SellerBuyerVideoDemo',
        width: 1024,
        height: 768,
        parentNode: document.querySelector('#meet'),
        allow: 'camera; microphone; fullscreen; display-capture; autoplay',
    };
    const api = new JitsiMeetExternalAPI(domain, options);
</script>
{% endblock %}
