{% extends 'base.html' %}
{% load static %}
{% block description %}zite69 is India’s rising 3-in-1 Marketplace for the people who buy and by the people who make. We are hiring now for all departments. Show your interest now{% endblock %}
{% block title %}Offline, Online &amp; Hybrid Opportunities for Diverse Talents Across India | Apply Now{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/career.css' %}">
{% endblock %}

{% block header %}
    <header class="header">
        <div class="logo-container">
            <div class="logo">
                <a href="#"><img src="{% static 'img/zite69_shop.png' %}" alt="Logo"></a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <img src="{% static 'img/career.png' %}" alt="Guru Network" class="illustration">
        <div class="text-content">
            <h1>Build a career while you build a company.</h1>
            <p class="subtitle">With a team who sees tomorrow clearly</p>
        </div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform" class="apply-button">Apply Now</a>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
