{% extends 'base.html' %}
{% load static sekizai_tags %}
{% block desription %}Product Development Training | Brand Incubation | Skillpool | B2B Hub | D2C Network | Offline &amp; Online Classes | Seller school helps every potential entrepreneur to become a successful entrepreneur through expert training  &amp; market exposure{% endblock %}
{% block title %}From Scratch to Sell Smart: Learn Everything to Own a Successful Business on Z69{% endblock %}

{% block styles %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sellerschool.css' %}">
{% endaddtoblock %}
{% endblock %}

{% block header %}
    <header class="header">
        <div class="logo-container">
            <div class="logo">
                <a href="#"><img src="{% static 'img/zite69_shop.png' %}" alt="Logo"></a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="illustration">
                <img src="{% static 'img/seller_school.png' %}" alt="Seller School Plan">
            </div>
            <div class="text">
                Everything About Selling on zite69 Marketplace
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-links">
            <a href="#" rel="noopener">Live Webinar</a> |
            <a href="#" rel="noopener">Offline Workshop</a> |
            <a href="#" rel="noopener">Video Explainers</a> |
            <a href="#" rel="noopener">Interactive Workbooks</a> |
            <a href="#" rel="noopener">Expert Interviews</a> |
            <a href="#" rel="noopener">Podcast</a> |
            <a href="#" rel="noopener">Leader Masterclasses</a>
        </div>
    </footer>
{% endblock %}
