{% extends 'registration/seller-wizard.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block form %}
        {% comment %}
        {% if wizard.steps.step1 == 4 %}
            <div class="verified">
                <img src="{% static 'img/verified_icon.png' %}" class="img-verified" alt="Zite69">
                <span class="verify_text">Nice! Your account is verified.</span>
            </div>

            <button class="btn action-btn" type="submit" name="submit">
                Add Button
            </button>
        {% elif wizard.steps.step1 == 5 %}
            {% if wizard.form.errors %}
                <div class="error">
                    {{ wizard.form.errors }}
                </div>
            {% endif %}
            <div id="div_id_{{wizard.steps.step0}}-gstin" class="mb-3">
                <label class="gst-label" for="id-gst">Enter GST Number</label>
                <input id="id_{{wizard.steps.step0}}-gstin" type="text" name="{{wizard.steps.step0}}-gstin" class="gst-input" placeholder="Pincode should match your registered GST pincode">
            </div>
            <div id="div_id_{{wizard.steps.step0}}-pan" class="mb-3 hide">
                <label for="id_{{wizard.steps.step0}}-pan" class="pan-label">PAN Number</label>
                <input id="id_{{wizard.steps.step0}}-pan" type="text" class="pan-input" name="{{wizard.steps.step0}}-pan" placeholder="Please enter your PAN number">
            </div>
            <div class="radio-group">
                <div class="radio-option">
                    <input id="id_{{wizard.steps.step0}}-gst_status_0" type="radio" name="{{wizard.steps.step0}}-gst_status" value="Y"
                        class="gst-status-choice" checked>
                    <label for="id_{{wizard.steps.step0}}-gst_status_0">I have GST</label>
                </div>
                <div class="radio-option">
                    <input id="id_{{wizard.steps.step0}}-gst_status_0" type="radio" name="{{wizard.steps.step0}}-gst_status" value="N"
                        class="gst-status-choice">
                    <label for="id_{{wizard.steps.step0}}-gst_status_0">I don&apos;t have GST</label>
                </div>
                <div class="radio-option">
                    <input id="id_{{wizard.steps.step0}}-gst_status_0" type="radio" name="{{wizard.steps.step0}}-gst_status" value="E"
                        class="gst-status-choice">
                    <label for="id_{{wizard.steps.step0}}-gst_status_0">I am exempted</label>
                </div>
                <div class="radio-option">
                    <input id="id_{{wizard.steps.step0}}-gst_status_0" type="radio" name="{{wizard.steps.step0}}-gst_status" value="L"
                        class="gst-status-choice">
                    <label for="id_{{wizard.steps.step0}}-gst_status_0">I will add later</label>
                </div>
            </div>
            <p class="legal-support">
                <a href="/legal/">Click here</a> to consult with legal support team
            </p>
            <button id="btn_submit" type="submit" name="submit" class="action-btn">Sell Now</a></button>
        {% elif wizard.steps.step1 == 6 %}
            <!-- {{ wizard.form }} -->
            <h2 class="gst-label">Set your language preferences</h2>
            <p>Primary language : English</p>
            <h2 class="gst-label">Choose secondary language</h2>
            <p>For future communications</p>
            <div class="radio-group">
                {% for value, label in settings.LANGUAGES %}
                {% if value != 'en' %}
                <div class="radio-option">
                    <input type="radio" id="id_{{wizard.steps.step0}}-language_{{ value }}" name="{{ wizard.steps.step0}}-language" value="{{ value }}">
                    <label for="id_{{ wizard.steps.step0 }}_{{ value }}">{{ label }}</label>
                </div>
                {% endif %}
                {% endfor %}
                <div class="radio-option">
                    <input type="radio" id="id_{{wizard.steps.step0}}-language_no" name="{{ wizard.steps.step0}}-language" value="no">
                    <label for="id_{{ wizard.steps.step0 }}_no">None</label>
                </div>
            </div>
            <button type="submit" name="submit" class="action-btn">Add Your Business</button>
        {% else %}
        {% endcomment %}
            {% crispy form %}
        {# {% endif %} #}
    {# {% endif %} #}
    <!--
    <button type="submit" class="btn action-btn">
        Register Now
    </button>
    -->
{% endblock %}
