{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load sekizai_tags %}

{% block head %}
{{ block.super }}
{% addtoblock "css" %}
    {{ wizard.form.media.css }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registrationoverwrite.css' %}">
{% endaddtoblock %}
{% endblock %}

{% block registration-form %}
{% block form-header %}
<h2>Register Quick</h2>
<p>List your first product to try new market!</p>
{% endblock %}
<form id="seller-registration" action="" method="POST" data-step="{{ wizard.steps.current }}" {% if wizard.form.upload_files %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {% crispy form %}
        {% endfor %}
    {% else %}
        {% block form %}
        {% endblock %}
    {% endif %}
</form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ wizard.form.media.js }}
    <script type="text/javascript" src="{% static 'js/alertback.js' %}"></script>
{% endblock %}
