{% extends 'registration/seller-wizard.html' %}

{% block form %}
<div class="congrats_container">
  <div class="succes_box">
    <div class="confetti-container">
      <div class="onboard-message">
        <p class="emoji"> 🎉 </p>
        <div class="success-title">Thank you for being part of Zite69 <br>community
commerce ecosystem.
        </div>
        <div class="success-subtitle">Your product will be listed for sale<br>After a quick human review and update.
          <p style="padding: 15px 0 0 0;">Check your mail for more detail.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="submit" class="action-btn">Go to main shop</button>
<div><a href="#" class="seller-school">Visit Seller School</a></div>
{% endblock %}
