@import "bootstrap/functions"; // Required
/* Import vendors */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


$red: #f66569;
$bg-color: #fff;
$primary: $red;
$font-family-base: "Urbanist", sans-serif;
$container-padding-x: 0;

html {
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #f66569;
}

@import "bootstrap/variables"; // Required
@import "bootstrap/variables-dark";

$theme-colors: (
    primary: $primary,
    success: $green,
);

@import "bootstrap/maps";
@import "bootstrap/mixins"; // Required

@import "bootstrap/root"; // Required
@import "bootstrap/reboot"; // Required

@import "bootstrap/bootstrap";

a {
    text-decoration: none;
}

.logo {
  width: 60px;
  height: 60px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.messages {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;

    .success {
        color: $green;
    }

    .info {
        color: $blue;
    }

    .warning {
        color: $yellow;
    }
}
