.error {
    color: red;
}

.registration-form input.success {
    border: 3px solid green;
}

label.requiredField {
    color: red;
}

li.ui-menu-item {
    list-style-type: none;
}

.ui-menu-item .ui-menu-item-wrapper {
    background-color: white;
    opacity: 1.0;  
}
