{% extends "email/base_seller.html" %}

{% block style %}

  {{ block.super }}


    .message {
      background-color: #fff;
      padding: 25px;
      text-align: center;
      line-height: 1.6;
      font-size: 16px;
      border: 1px solid #f5f5f5;
    }

    .note-box {
      background-color: #ffeb3b;
      border-left: 5px solid #e74c3c;
      padding: 15px;
      margin-top: 20px;
      font-size: 15px;
      text-align: left;
      border-radius: 5px;
    }
{% endblock %}

{% block content %}
      
        <!-- Product Pending or Rejected Message -->
              <div class="message">
            <h2>Your Product is Pending/Rejected</h2>
            <p>Hi <strong>[User Name]</strong>,</p>
            <p>The status of your seller onboarding process has been updated.</p>
            <p>Your recently submitted product is currently <strong>pending approval</strong> or has been <strong>rejected</strong> by our team.</p>
            <p>Please review the note from the admin team below for further details.</p>

            <div class="note-box">
              <strong>Admin Note:</strong>
              <br />
                <p> { Please contact our admin via mail or customer care phone number } </p>
            </div>
          </div>
         
          
{% endblock %}
