{% extends "email/base_seller.html" %}
{% load site_urls %}

{% block style %}

  {{ block.super }}


  .message {
      background-color: #f5f5f5;
      padding: 25px;
      border-radius: 6px;
      text-align: center;
      line-height: 1.6;
      font-size: 16px;
    }

    .cta-button {
      display: block;
      background-color: #79c6a4;
      color: #ffffff;
      font-weight: bold;
      text-decoration: none;
      padding: 15px 30px;
      border-radius: 25px;
      text-align: center;
      margin: 30px auto;
      width: 60%;
    }

{% endblock %}

{% block content %}
      
  <!-- Order Notification Message -->
          <div class="message">
            <h2>You've Received a New Order!</h2>
            <p>Hi <strong>{{ seller.user.get_full_name }}</strong>,</p>
            <p>You have a new order placed through Zite69.</p>
            <p>Click the button below to view the order details and manage it from your dashboard.</p>
          </div>

          <!-- CTA Button -->
          <a href="{% site_url SITE_SELLER 'dashboard:order-detail' number=order.number %}" class="cta-button">View Order</a>
{% endblock %}
