{% extends "email/base_seller.html" %}
{% load site_urls %}

{% block style %}

  {{ block.super }}


  .message {
      background-color: #f5f5f5;
      padding: 25px;
      border-radius: 6px;
      text-align: center;
      line-height: 1.6;
      font-size: 16px;
    }

      .cta-button {
      background-color: #f66569;
      color: white;
      text-decoration: none;
      padding: 12px 25px;
      display: inline-block;
      border-radius: 5px;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 20px;
    }

{% endblock %}

{% block content %}
      
  <!-- Order Notification Message -->
          <div class="message">
            <h2>You've Received a New Order!</h2>
            <p>Hi <strong>{{ seller.user.get_full_name }}</strong>,</p>
            <p>You have a new order placed through Zite69.</p>
            <p>Click the button below to view the order details and manage it from your dashboard.</p>
          </div>

          <!-- CTA Button -->
          <a href="{% site_url SITE_SELLER 'dashboard:order-detail' number=order.number %}" class="cta-button">View Order</a>
{% endblock %}
