{% extends 'email/base.html' %}
{% load static %}

{% block content %}
    <div class="welcome-text">
        <h1>Welcome, {{ user.name }}!</h1>
    </div>

    <div class="content-box">
      <p>
        Thanks for creating your zite69 
        account. See how it can make selling
        and growing  with zite69 even easier,
        online or offline &amp; direct.
      </p>
      <p>  
        Start your new success journey here
        with confidence &amp; responsibility.
      </p>
    </div>

    <a href="{{ whatsapp_link }}" class="cta-button">Contact Your Account Manager</a>
{% endblock %}
