{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrastyle %}
<style>
.field-approved {
    display: none;
}
</style>
{% endblock %}

{% block submit_buttons_bottom %}
<button id="btn-id-approve" type="button" class="btn btn-primary">Approve</button>
<button id="btn-id-reject" type="button" class="btn btn-danger">Reject</button>
{{ block.super }}
{% endblock %}

{% block footer %}
{{ registration_json|json_script:"registration"}}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/admin/seller.js' %}"></script>
{% endblock %}
