{% load static %}
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="{% static 'img/zite69_shop.png' %}" alt="zite69"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-menu-wrap mobile-header-border">

                <!-- mobile menu start -->
                    <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">DISCOVER</a>
                <ul class="dropdown">
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">Stories</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Fashion &amp; Beauty </a></li>
                      <li><a href="https://www.zite69.com/en/">Eat &amp; Drink </a></li>
                      <li><a href="https://www.zite69.com/en/">Well </a></li>
                      <li><a href="https://www.zite69.com/en/">Outdoors </a></li>
                      <li><a href="https://www.zite69.com/en/">New Romances </a></li>
                      <li><a href="https://www.zite69.com/en/">Tech Tech Boom!</a></li>
                      <li><a href="https://www.zite69.com/en/">Gifts &amp; Games </a></li>
                      <li><a href="https://www.zite69.com/en/">Entertainment </a></li>
                    </ul>
                  </li>
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">Most Loved♡</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Vintage Footwear</a></li>
                      <li><a href="https://www.zite69.com/en/">Green Tea Facial</a></li>
                      <li><a href="https://www.zite69.com/en/">Casual cum Formals</a></li>
                      <li><a href="https://www.zite69.com/en/">Momagination T Shirt</a></li>
                      <li><a href="https://www.zite69.com/en/">Wallet Friendly Wallets</a></li>
                      <li><a href="https://www.zite69.com/en/">Pure Caffeine Kick </a></li>
                      <li><a href="https://www.zite69.com/en/">Buttonless Black Shirt</a></li>
                      <li><a href="https://www.zite69.com/en/">Curry Worthy  Pickles</a></li>
                      <li><a href="https://www.zite69.com/en/">Total Tote </a></li>
                      <li><a href="https://www.zite69.com/en/">Surprise Trips</a></li>
                    </ul>
                  </li>
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">Today on Z69</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Member Specials</a></li>
                      <li><a href="https://www.zite69.com/en/">₹ 30-100 Off</a></li>
                      <li><a href="https://www.zite69.com/en/">₹  100- 250 Off</a></li>
                      <li><a href="https://www.zite69.com/en/">Upto 60 % Off </a></li>
                      <li><a href="https://www.zite69.com/en/">Freebies  </a></li>
                      <li><a href="https://www.zite69.com/en/">Top Lucky Spinnings  </a></li>
                      <li><a href="https://www.zite69.com/en/">Earn from Superlink  </a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="https://www.zite69.com/en/">WATCH</a>
                <ul class="dropdown">
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">In 69 Seconds!</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Stuff you should care about</a></li>
                      <li><a href="https://www.zite69.com/en/">Eat@Someplace Else</a></li>
                      <li><a href="https://www.zite69.com/en/">Emily in Shop </a></li>
                    </ul>
                  </li>
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">Streaming Sales Soon</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Handmade Cosmetics</a></li>
                      <li><a href="https://www.zite69.com/en/">Factory Direct</a></li>
                      <li><a href="https://www.zite69.com/en/">Group Sale Mega</a></li>
                      <li><a href="https://www.zite69.com/en/">Clearance | <span class="brand_color_menu"> 80% Off</span></a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="https://www.zite69.com/en/">SHOP</a>
                <ul class="dropdown">
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">The Edit</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Flavoured Shirts</a></li>
                      <li><a href="https://www.zite69.com/en/">Wild Wild Tote</a></li>
                      <li><a href="https://www.zite69.com/en/">4 in 1 Tea Bundles</a></li>
                      <li><a href="https://www.zite69.com/en/">Gift for the Gifted  </a></li>
                      <li><a href="https://www.zite69.com/en/">Shop the Sleep</a></li>
                      <li><a href="https://www.zite69.com/en/">Editors’ Cart</a></li>
                    </ul>
                  </li>
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">Trending</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Monkey Bag</a></li>
                      <li><a href="https://www.zite69.com/en/">Retro Sandal</a></li>
                      <li><a href="https://www.zite69.com/en/">Rainbow Shirt</a></li>
                      <li><a href="https://www.zite69.com/en/">Loveshake Ring</a></li>
                      <li><a href="https://www.zite69.com/en/">Power Bank</a></li>
                      <li><a href="https://www.zite69.com/en/">Luxury Watch</a></li>
                      <li><a href="https://www.zite69.com/en/">Cut Through Shirt</a></li>
                    </ul>
                  </li>
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">Only One Piece</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Reboot Painting</a></li>
                      <li><a href="https://www.zite69.com/en/">Jungle Cottage Room</a></li>
                      <li><a href="https://www.zite69.com/en/">Goblin Doll</a></li>
                      <li><a href="https://www.zite69.com/en/">Cactus Pillow </a></li>
                      <li><a href="https://www.zite69.com/en/">Lemon Shirt  </a></li>
                      <li><a href="https://www.zite69.com/en/">Brinjal Pickle  </a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="https://www.zite69.com/en/">MORE+</a>
                <ul class="dropdown">
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/en/">Pre-owned</a>
                    <ul>
                      <li><a href="https://www.zite69.com/en/">Books & Pen</a></li>
                      <li><a href="https://www.zite69.com/en/">Luxury Watches</a></li>
                      <li><a href="https://www.zite69.com/en/">Music </a></li>
                    </ul>
                  </br>
                  <a class="menu-title" href="https://www.zite69.com/en/">SZINE</a>
                  <ul>
                    <li><a href="https://www.zite69.com/en/">Frisbee Game</a></li>
                    <li><a href="https://www.zite69.com/en/">Alien Fashion</a></li>
                    <li><a href="https://www.zite69.com/en/">Church Street</a></li>
                  </ul>
                </li>

                <li class="sub-mega-menu sub-mega-menu-width-22">
                  <a class="menu-title" href="https://www.zite69.com/en/">Group Buy</a>
                  <ul>
                    <li><a href="https://www.zite69.com/en/">Jogging Shoes</a></li>
                    <li><a href="https://www.zite69.com/en/">Team Tees</a></li>
                    <li><a href="https://www.zite69.com/en/">100 Saree Challenge</a></li>
                  </ul>
                </br>
                <a class="menu-title" href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform">We are Hiring</a>
                <ul>
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform">1000CEO Hunt</a></li>
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform">Engagement Editors</a></li>
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform">Product Curator</a></li>
                </ul>
              </li>
              <li class="sub-mega-menu sub-mega-menu-width-22">
                <a class="menu-title" href="https://www.zite69.com/en/">Auction</a>
                <ul>
                  <li><a href="https://www.zite69.com/en/">Nilambur Teak Furniture</a></li>
                  <li><a href="https://www.zite69.com/en/">Sports Bike</a></li>
                  <li><a href="https://www.zite69.com/en/">Antique Gold</a></li>
                </ul>
              </br>
              <a class="menu-title" href="https://www.zite69.com/en/">Class of 2024</a>
              <ul>
                <li><a href="https://www.zite69.com/en/">Register as Mentor</a></li>
                <li><a href="https://www.zite69.com/en/">Submit Your Topic</a></li>
                <li><a href="https://www.zite69.com/en/">Join the Live</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="https://www.zite69.com/en/">JOIN</a>
          <ul class="dropdown">
            <li><a href="https://www.zite69.com/en/">Become a Member </a></li>
            <li><a href="https://www.zite69.com/en/">Become a Seller</a></li>
            <li><a href="https://forms.gle/62F9C7zH3HovrWB26">We are Hiring </a></li>
          </ul>
        </li>
      </ul>
    </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a  href="https://forms.gle/oY5kSZV7tMD5F7TX7"> Start Selling </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="{% url 'customer:login' %}">Log In / Sign Up </a>
                </div>
                <!--
                <div class="single-mobile-header-info">
                    <a href="https://wa.me/{{ settings.WHATSAPP_NUMBER }}">{{ settings.WHATSAPP_NUMBER }}</a>
                </div>
                -->
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="https://www.facebook.com/ZITE69"><img src="{% static 'img/icons/icon-facebook.svg' %}" alt="zite69Facebook"></a>
                <a href="https://x.com/ZITE69_"><img src="{% static 'img/icons/icon-twitter.svg' %}" alt="zite69 X"></a>
                <a href="https://www.instagram.com/zite69_live/"><img src="{% static 'img/icons/icon-instagram.svg' %}" alt="zite69Instagram"></a>
                <a href="https://www.linkedin.com/company/zite69/"><img src="{% static 'img/icons/icon-linkedin.svg' %}" alt="zite69Linkein"></a>
                <a href="https://www.youtube.com/@ZITE69_"><img src="{% static 'img/icons/icon-youtube.svg' %}" alt="zite69Youtube"></a>
            </div>
        </div>
    </div>
</div>
