{% load static %}
{% load site_urls %}
{% load category_tags %}


<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="{% static 'img/zite69_shop.png' %}" alt="zite69"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-menu-wrap mobile-header-border">

                <!-- mobile menu start -->
                    <nav>
            <div class="main-categori-wrap mobile-header-border">
                <a class="categori-button-active-2" href="#">
                <span class="fi-rs-apps">
                </span>  
                Explore Categories
                </a>
            <div class="categori-dropdown-wrap categori-dropdown-active-small">
                {% category_tree as tree_categories %}
                <ul>
                  {% for tree_category in tree_categories %}
                  <li><a href="{{ tree_category.url }}">{{ tree_category.name }}</a></li>
                  {% endfor %}
                </ul>
            </div>  
            <ul class="mobile-menu">
              
                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">DISCOVER</a>
                  <ul class="dropdown">
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                        <a class="menu-title" href="/">Stories</a>
                    <ul>
                      <li><a href="https://www.zite69.com/">Fashion &amp; Beauty </a></li>
                      <li><a href="https://www.zite69.com/">Eat &amp; Drink </a></li>
                      <li><a href="https://www.zite69.com/">Well </a></li>
                      <li><a href="https://www.zite69.com/">Outdoors </a></li>
                      <li><a href="https://www.zite69.com/">New Romances </a></li>
                      <li><a href="https://www.zite69.com/">Tech Tech Boom!</a></li>
                      <li><a href="https://www.zite69.com/">Gifts &amp; Games </a></li>
                      <li><a href="https://www.zite69.com/">Entertainment </a></li>
                   </ul>
                  </li>
                </ul>
              </li>

              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="https://www.zite69.com/">WATCH</a>
                <ul class="dropdown">
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/">In 69 Seconds!</a>
                    <ul>
                      <li><a href="https://www.zite69.com/">Stuff you should care about</a></li>
                      <li><a href="https://www.zite69.com/">Eat@Someplace Else</a></li>
                      <li><a href="https://www.zite69.com/">Emily in Shop </a></li>
                    </ul>
                  </li>
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/">Streaming Sales Soon</a>
                    <ul>
                      <li><a href="https://www.zite69.com/">Handmade Cosmetics</a></li>
                      <li><a href="https://www.zite69.com/">Factory Direct</a></li>
                      <li><a href="https://www.zite69.com/">Group Sale Mega</a></li>
                      <li><a href="https://www.zite69.com/">Clearance | <span class="brand_color_menu"> 80% Off</span></a></li>
                    </ul>

                  </li>
                </ul>

              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="https://www.zite69.com/">SHOP</a>

                <ul class="dropdown">
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/">The Edit</a>
                    <ul>
                      <li><a href="https://www.zite69.com/">Flavoured Shirts</a></li>
                      <li><a href="https://www.zite69.com/">Wild Wild Tote</a></li>
                      <li><a href="https://www.zite69.com/">4 in 1 Tea Bundles</a></li>
                      <li><a href="https://www.zite69.com/">Gift for the Gifted  </a></li>
                      <li><a href="https://www.zite69.com/">Shop the Sleep</a></li>
                      <li><a href="https://www.zite69.com/">Editors’ Cart</a></li>
                    </ul>
                  </li>
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/">Trending</a>
                    <ul>
                      <li><a href="https://www.zite69.com/">Monkey Bag</a></li>
                      <li><a href="https://www.zite69.com/">Retro Sandal</a></li>
                      <li><a href="https://www.zite69.com/">Rainbow Shirt</a></li>
                      <li><a href="https://www.zite69.com/">Loveshake Ring</a></li>
                      <li><a href="https://www.zite69.com/">Power Bank</a></li>
                      <li><a href="https://www.zite69.com/">Luxury Watch</a></li>
                      <li><a href="https://www.zite69.com/">Cut Through Shirt</a></li>
                    </ul>
                  </li>
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/">Only One Piece</a>
                    <ul>
                      <li><a href="https://www.zite69.com/">Reboot Painting</a></li>
                      <li><a href="https://www.zite69.com/">Jungle Cottage Room</a></li>
                      <li><a href="https://www.zite69.com/">Goblin Doll</a></li>
                      <li><a href="https://www.zite69.com/">Cactus Pillow </a></li>
                      <li><a href="https://www.zite69.com/">Lemon Shirt  </a></li>
                      <li><a href="https://www.zite69.com/">Brinjal Pickle  </a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="https://www.zite69.com/">MORE+</a>


                <ul class="dropdown">
                  <li class="sub-mega-menu sub-mega-menu-width-22">
                    <a class="menu-title" href="https://www.zite69.com/">Pre-owned</a>
                    <ul>
                      <li><a href="https://www.zite69.com/">Books & Pen</a></li>
                      <li><a href="https://www.zite69.com/">Luxury Watches</a></li>
                      <li><a href="https://www.zite69.com/">Music </a></li>
                    </ul>
                  </br>
                  <a class="menu-title" href="https://www.zite69.com/">SZINE</a>
                  <ul>
                    <li><a href="https://www.zite69.com/">Frisbee Game</a></li>
                    <li><a href="https://www.zite69.com/">Alien Fashion</a></li>
                    <li><a href="https://www.zite69.com/">Church Street</a></li>
                  </ul>
                </li>

                <li class="sub-mega-menu sub-mega-menu-width-22">
                  <a class="menu-title" href="https://www.zite69.com/">Group Buy</a>
                  <ul>
                    <li><a href="https://www.zite69.com/">Jogging Shoes</a></li>
                    <li><a href="https://www.zite69.com/">Team Tees</a></li>
                    <li><a href="https://www.zite69.com/">100 Saree Challenge</a></li>
                  </ul>
                </br>
                <a class="menu-title" href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform">We are Hiring</a>
                <ul>
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform">1000CEO Hunt</a></li>
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform">Engagement Editors</a></li>
                  <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe-zfHemVC3F50QJnBuudP-06XCttgxeU8fuujR8ELIyJxTZw/viewform">Product Curator</a></li>
                </ul>
              </li>
              <li class="sub-mega-menu sub-mega-menu-width-22">
                <a class="menu-title" href="https://www.zite69.com/">Auction</a>
                <ul>
                  <li><a href="https://www.zite69.com/">Nilambur Teak Furniture</a></li>
                  <li><a href="https://www.zite69.com/">Sports Bike</a></li>
                  <li><a href="https://www.zite69.com/">Antique Gold</a></li>
                </ul>
              </br>
              <a class="menu-title" href="https://www.zite69.com/">Class of 2024</a>
              <ul>
                <li><a href="https://www.zite69.com/">Register as Mentor</a></li>
                <li><a href="https://www.zite69.com/">Submit Your Topic</a></li>
                <li><a href="https://www.zite69.com/">Join the Live</a></li>
              </ul>
            </li>
          </ul>

        </li>
        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="https://www.zite69.com/">JOIN</a>
          <ul class="dropdown">
            <li><a href="{% url 'account_login' %}">Become a Member </a></li>
            <li><a href="{% site_url SITE_SELLER 'registration:home' %}">Become a Seller</a></li>
            <li><a href="https://forms.gle/62F9C7zH3HovrWB26">We are Hiring </a></li>
          </ul>
        </li>
      </ul>
    </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a  href="{% site_url SITE_SELLER 'registration:home' %}"> Start Selling </a>
                </div>
                <div class="single-mobile-header-info">
                    {% if user.is_authenticated %}
                        <a href="{% url 'customer:logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'customer:login' %}">Log In / Sign Up </a>
                    {% endif %}
                </div>
                <!--
                <div class="single-mobile-header-info">
                    <a href="https://wa.me/{{ settings.WHATSAPP_NUMBER }}">{{ settings.WHATSAPP_NUMBER }}</a>
                </div>
                -->
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="https://www.facebook.com/ZITE69"><img src="{% static 'img/icons/icon-facebook.svg' %}" alt="zite69Facebook"></a>
                <a href="https://x.com/ZITE69_"><img src="{% static 'img/icons/icon-twitter.svg' %}" alt="zite69 X"></a>
                <a href="https://www.instagram.com/zite69_live/"><img src="{% static 'img/icons/icon-instagram.svg' %}" alt="zite69Instagram"></a>
                <a href="https://www.linkedin.com/company/zite69/"><img src="{% static 'img/icons/icon-linkedin.svg' %}" alt="zite69Linkein"></a>
                <a href="https://www.youtube.com/@ZITE69_"><img src="{% static 'img/icons/icon-youtube.svg' %}" alt="zite69Youtube"></a>
            </div>
        </div>
    </div>
</div>
