{% load static %}
{% load cms_tags djangocms_alias_tags %}

<div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class=""></i> <a href="#">{{ settings.WHATSAPP_NUMBER }}</a></li>
                                <li><i class=""></i><a  href="https://forms.gle/oY5kSZV7tMD5F7TX7" target="_blank">Start Selling</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Launching on August 15th! <a href="https://forms.gle/ww2nk3DiejtoQZds6" style="color:#28343d;" target="_blank"> Know more</a></li>
                                    <li>Work around home &amp; earn up to 70k/m!<a href="https://forms.gle/62F9C7zH3HovrWB26" style="color:#28343d;" target="_blank"> Join now</a></li>
                                    <li>We are hiring! <a href="https://forms.gle/62F9C7zH3HovrWB26" style="color:#28343d;" target="_blank">Apply now </a></li>
                                    {% static_alias "flashnews" %}
                                </ul>
                            </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <li>
                                        <a href="https://szine.zite69.com/69mutual-club/69mutual-club-membership-join/"> <i class=""></i> Become a Member </a>
                                    </li>
                                    
                                    {% if user.is_authenticated %}
                                    {% block nav_account_navbar_authenticated %}
                                    <li>   
                                        <i class="fi-rs-user"></i>
                                        <a href="{% url 'customer:logout' %}">
                                            Logout
                                        </a>
                                    </li>
                                    {% endblock %}
                                    {% else %}
                                    <li>
                                        <i class="fi-rs-user"></i>
                                        <a href="{% url 'customer:login' %}">Sign In</a>
                                    </li>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
