<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>403 - Unauthorized</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/error/403.css">
</head>
<body>
  <div class="stars"></div>
  <div class="container">

    <div class="error-code">403</div>
    <div class="error-message">Oops! You don't have permission to access this page.</div>
    <div class="description">
        You do not have permission to access this page. If you believe this is not correct please 
        contact the systems adminstrator - <a href="mailto:admin@zite69.com">admin</a>
    </div>

    <footer>

    </footer>
  </div>
</body>
</html>
