<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 - Internal Server Error</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/error/500.css">
</head>
<body>
  <div class="error-container">
    <div>
        <a href="#"><img src="/static/img/zite69_shop.png" alt="Logo" class="logo"></a>
    </div>
    <div class="error-code">500</div>
    <div class="error-message">Something's Broken... but We're On It!</div>
    <div class="description">
      It seems like our server got a little overwhelmed. Don’t worry; our tech team is already fixing it!
    </div>

    <div class="button-container">
      <a href="#" class="btn">Take Me Home</a>
      <a href="mailto:system@zite69.com" class="btn">system@zite69.com</a>
    </div>
    <footer>
      Meanwhile, here’s a fun fact: Did you know the first-ever website is still online?
    </footer>
  </div>
</body>
</html>
