{% extends 'base.html' %}
{% load static %}
{% load cms_tags sekizai_tags %}
{% load i18n %}
{% load compress %}
{% load static %}
{% load sass_tags %}

{% block description %}
{% spaceless %}
    {% page_attribute 'meta_description' as page_description %}
    {% if page_description and page_description.strip %}
        {{ page_description.strip|safe }}
    {% else %}
        ZITE69: #SuperSocial Marketplace | ♥ Add cash to your cart! 🔴Live Chat & Shop, Buy Nearby📍Group Buy  +More ₹upee Deals
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block title %}{{ shop_name }} - {% page_attribute "page_title" as page_title %}{% if page_title and page_title.strip %}{{ page_title.strip|safe }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block head %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% sass_src "scss/cms.scss" %}" />
{% endaddtoblock %}
{% endblock %}

{% block header %}
{% include "includes/cms_toolbar.html" %}
{{ block.super }}
{% endblock %}
