{% extends 'cms/base.html' %}
{% load static %}
{% load cms_tags sekizai_tags %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/livesoon.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
        <div class="logo mx-auto">
            <img src="{% static 'img/wow.gif' %}" alt="Zite69">
        </div>

        <h1 class="title">live Soon</h1>

        <div class="promo-text">
            <p class="desktop-view">Super socials coming to your doorstep &amp; desktop!</p>
            <p class="desktop-view">Don't miss your first day first shop offer!</p>
            <p class="mobile-view">Super socials coming to your doorstep &amp; desktop! Don't miss your first day first shop offer!</p>
        </div>

        <div class="email-form">
        {% placeholder "content" %}
        </div>
{% endblock %}
