{% extends 'cms/base.html' %}
{% load static %}
{% load cms_tags sekizai_tags %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/livesoon.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block title %}
zite69: SuperSocial Marketplace | ♥Add cash to your cart! | 🔴Live Chat &amp; Shop | Buy Nearby📍| Group Buy  +More ₹upee Deals!
{% endblock %}

{% block description %}
Fashion | Beauty|  Food  | Feel Goods |  Life Goods | Digital Goods | For all the good stuff you needed in your  life &amp; life changing new stuff you didn’t know you needed!
{% endblock %}

{% block content %}
    <div class="livesoon_container">
        <div class="wow mx-auto">
            <img src="{% static 'img/wow.gif' %}" alt="zite69">
        </div>

        <h1 class="title">live Soon</h1>

        <div class="promo-text">
            <p class="desktop-view">Super socials coming to your doorstep &amp; desktop!</p>
            <p class="desktop-view">Don't miss your first day first shop offer!</p>
            <p class="mobile-view">Super socials coming to your doorstep &amp; desktop! Don't miss your first day first shop offer!</p>
        </div>

        <div class="email-form">
        {% placeholder "content" %}
        </div>
</div>
        
{% endblock %}
