{% load static %}
{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zite69 : Supers Social Platform is Live Soon</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/livesoon.css' %}">
    {% render_block "css" %}
</head>
<body>
    {% cms_toolbar %}
    <div class="container">
        {% if messages %}
        <ul class="text-center messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="logo">
            <img src="{% static 'img/wow.gif' %}" alt="Zite69">
        </div>

        <h1 class="title">live Soon</h1>

        <div class="promo-text">
            <p class="desktop-view">Super socials coming to your doorstep &amp; desktop!</p>
            <p class="desktop-view">Don't miss your first day first shop offer!</p>
            <p class="mobile-view">Super socials coming to your doorstep &amp; desktop! Don't miss your first day first shop offer!</p>
        </div>

        <div class="email-form">
        {% placeholder "content" %} 
        </div>
    </div>

    <footer class="footer">
        <div class="footer-links">
            <a href="https://beta.zite69.com/ui/rs/index.html" target="_blank">Sell on Z69</a> |
            <a href="http://moksharoutesholidays.com/demo/Careers/career.html" target="_blank">Work with Us</a> |
            <a href="https://www.moksharoutesholidays.com/demo/Mentor/mentor.html" target="_blank">Join as Mentor</a> |
            <a href="https://szine.zite69.com/" target="_blank">Visit S/Z Blog</a> |
            <a href="https://beta.zite69.com/demo/index.html" target="_blank">View Concept</a> |
            <a href="https://wa.me/918547299569" target="_blank">Quick Connect</a>
        </div>
    </footer>


<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'},{'ap':'cpsh-oh'},{'server':'sxb1plzcpnl489900'},{'dcenter':'sxb1'},{'cp_id':'9508659'},{'cp_cl':'8'}) 
    // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
</script>

{% render_block "js" %}
<script src="{% static 'js/scc-c2.min.js'}"></script>
</body></html>
